.call {
  position: relative;
  overflow: hidden;
  background-color: $white-offset;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
  @include media-breakpoint-up(sm) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .call-box-top {
    flex: 1 0 auto;
    padding: 20px;
  }
  .call-box-bottom {
    flex: auto;
    padding: 20px;
    @include media-breakpoint-up(sm) {
      flex: 0 0 auto;
      border: none;
    }
  }
  .call-name {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .call-phone,
  .call-email,
  .call-address {
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 1.5;
  }
  strong {
    font-weight: bold;
  }
}
